<div class="top">
  <h1 class="top__title">
    <span class="top__pop">
      <span class="red">シ</span>
      <span class="blue">キ</span>
      <span class="red">サ</span>
      <span class="blue">イ</span>
      <span class="red">ガ</span>
      <span class="blue">ク</span>
    </span>
    <span class="top__anketo">アンケート</span>
  </h1>
  <p>以下のリンクからアンケートがスタートします。</p>
  <p><%= link_to "スタート", :new_answer %></p>
</div>
